.header{
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background: slateblue;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    width: 100%;
    padding: 2rem 3rem;

    z-index: 10;


}

.header__text{
    font-size: 2rem;
    color: rgba(0, 235, 196, 0.959);
    font-weight: 600;
}

.header__link{
    display: flex;
    

    align-items: center;
    gap: 1rem;

}

.header__img{
    width: 9rem;
    
    
}

.menu__list{
    /*holi*/
    display: flex;
    justify-content: flex-end;
    gap: 10rem;
}

.menu__link{
    font-size: 1.8rem;
    font-weight: 600;
}

.menu__link a{
    color: rgba(0, 235, 196, 0.959);
}